.wrapper {
    padding: 0 10%;
  }
  
  .header {
    height: 36px;
    background-color: #fff;
    padding: 10px;
  }
  
  .header__navbar{
    margin-left: 57%;
  }
  
  .header__image img{
    width: 40px;
    height: auto;
    margin-bottom: 3px;
  }
  
  .header__list-item,
  .header__list-item a {
    display: inline;
    margin: 0 5px;
    font-weight: 700;
    color: black;
    font-size: 1em;
    text-decoration: none;
    transition: transform 2s;
  }
  
  .header__list-item{
    border-left: solid 1px rgb(0, 0, 0);
  }
  
  .header__list-item a{
    margin-left: 4%
  }
  
  .header__list-item a:hover {
    color: rgb(77, 79, 82); 
  }
  
  .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }